@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1000px;
  margin: 2em auto;
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

header img {
  height: 102px;
  width: 102px;
}

header ul {
  margin: 1em 0 0;
  width: 348px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: black;
  background-color: #f99d22;
  border-radius: 4px;
  padding: 0.5em;
}

nav a:hover {
  background-color: #2db2c4;
  color: white;
}

a.active {
  background-color: #e45026;
  color: white;
}

section {
  height: 6em;
  margin: 1em 0 0;
  background:
  radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent),
  radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent) 50px 50px,
  linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px,
  linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
  background-color: slategray;
  background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3 {
  font-family: "Josefin Slab", Arial, serif;
  font-weight: bold;
}

h1 {
  font-size: 6vmax;
}

main {
  margin: 2em 0 auto;
  line-height: 1.5;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  text-align: justify;
}

main div {
  width: 19em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main img {
  height: 100px;
}

h2 {
  font-size: 3vmax;
  margin: 0.5em;
}

.name {
  font-style: italic;
}
