body {
  width: 1000px;
  margin: 2em auto;
  font-family: "Helvetica Neue"
}

header {
  display: flex;
  justify-content: space-between;
}

nav > ul {
  width: 348px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

#logo {
  height: 102px;
  width: 102px;
}

li {
  background-color: #f99d22;
  border-radius: 4px;
  padding: 0.5em;
}
