@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

/* Whole Page */

img, ul, h1, h2, p {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  max-width: 64em;
  margin: auto;
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Header */

header {
  margin: 1em;
  height: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 40em) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7em;
  }
}

/* Header Logo */

header img {
  max-width: 6em;
  height: auto;
}

/* Header Navbar */
header ul {
  width: 19em;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: black;
  background-color: #f99d22;
  border-radius: 4px;
  padding: 0.5em;
}

nav a:hover {
  background-color: #2db2c4;
  color: white;
}

a.active {
  background-color: #e45026;
  color: white;
}

/* 'Hello World!' */

section {
  height: 6em;
  margin: 0 1em;
  background:
  radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent),
  radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent) 50px 50px,
  linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px,
  linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
  background-color: slategray;
  background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3 {
  font-family: "Josefin Slab", Arial, serif;
  font-weight: bold;
}

h1 {
  font-size: 6vmax;
}

/* Main Content - HTML, CSS, JS */

main {
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5;
  text-align: justify;
}

@media (min-width: 40em) {
  main {
      margin: 0;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-around;
  }
}

main div {
  margin: 1em 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

@media (min-width: 40em) {
  main div {
    max-width: 45%;
  }
}

@media (min-width: 64em) {
  main div {
    max-width: 30%;
  }
}

main img {
  max-width: 25%;
  height: auto;
}

h2 {
  font-size: 3vmax;
  margin: 0.5em;
}

.name {
  font-style: italic;
}
